includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/tiny-cache.php
        - %currentWorkingDirectory%/tiny-nav-menu-cache.php
        - %currentWorkingDirectory%/tiny-translation-cache.php
    autoload_files:
        - %currentWorkingDirectory%/tiny-cache.php
        - %currentWorkingDirectory%/tiny-nav-menu-cache.php
        - %currentWorkingDirectory%/tiny-translation-cache.php
    ignoreErrors:
        - '#^Function do_action invoked with [345] parameters, 1-2 required\.$#'
        - '#^Function apply_filters invoked with [345] parameters, 2 required\.$#'
